/* 
  .cardBox{
    width: 1200px;
    height: 2000px;
    border: 5px;
    border-color: aqua;
  } */

  .card {
    position: relative;
    width: 200px; /*190px*/
    height: 300px; /*254px*/
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
  }
  .card-image{
    margin-top: 10px;
    width: 170px;
    height: 170px;
  }
  .image{
    border-radius: 20px;
  }
  .card::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 210px; /*200px*/
    height: 310px; /*264px*/
    border-radius: 10px;
    background: linear-gradient(-45deg, #93F205 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #93F205 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: auto;
    color: #B3D929;
  }
  
  .card p:not(.heading) {
    font-size: 14px;
    margin-bottom: auto;
    color: #04ADBF;
  }
  
  .card p:last-child {
    color: #04ADBF;
    margin-bottom: auto;
  }
  
  .card:hover::after {
    filter: blur(30px);
  }
  
  .card:hover::before {
    transform: rotate(-90deg) scaleX(1.50) scaleY(0.70);
  }


  
  